body {
	min-height: 100vh;
}
header {
	min-height: 100vh;
}
.loginBox {
	position: absolute;
	width: 40%;
	min-width: 400px;
	max-width: 550px;
	height: 60vh;
	top: 50%;
	left: 50%;
	padding: 2%;
	transform: translate(-50%, -50%);
	border-radius: var(--bRadius);
	background-color: var(--itemBcg);
	box-shadow: var(--activeBoxShadow);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

form {
	width: 100%;
	height: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.registerForm {
	opacity: 0;
	display: flex;
	transition: 0.3s ease-in-out;
}

h1,
h2,
h3 {
	font-size: 2.5rem;
	color: whitesmoke;
}
.creatorsLabel {
	font-size: 4.5rem;
}

.loginBox input {
	width: 50%;
	line-height: 3rem;
	padding-left: 1.5rem;
	border-radius: var(--bRadius);
	font-family: inherit;
	border: none;
	background-color: whitesmoke;
	outline: none;
	transition: 0.3s ease-in-out;
}

.loginBox input:hover,
.loginBox input[type='text']:focus {
	box-shadow: var(--activeBoxShadow);
}

.registerQuestionBlock {
	font-size: 1.8rem;
	line-height: 3rem;
	color: whitesmoke;
	align-self: center;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
.registerQuestionBlock > * {
	display: block;
}

input[type='checkbox'] {
	appearance: none;
	-webkit-appearance: none;
	margin-right: 1rem;

	display: flex;
	align-content: center;
	justify-content: center;
	font-size: 2rem;
	padding: 0.1rem;
	border-radius: 0.5rem;
}
input[type='checkbox']::before {
	content: '';
	width: 2rem;
	height: 2rem;
	clip-path: polygon(
		20% 0%,
		0% 20%,
		30% 50%,
		0% 80%,
		20% 100%,
		50% 70%,
		80% 100%,
		100% 80%,
		70% 50%,
		100% 20%,
		80% 0%,
		50% 30%
	);
	transform: scale(0);
	background-color: var(--defaultColor);
	transition: 0.3s ease-in-out;
}
input[type='checkbox']:checked::before {
	transform: scale(1);
}
.registerForm.active {
	opacity: 1;
}

.loginBtn {
	width: 40%;
	font-size: 2rem;
}
