html(lang="en")
    head
        // Meta tags
        meta(charset="UTF-8")
        title SAD Project
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        // Website description for SEO
        meta(name="description", content="Architecture and Design Coursework")
        meta(name="author", content="MMadejsza, AdamT-S, Raja108N, unaisq1")
        meta(name="keywords", content="SAD, stock, Java, architecture, n-tiered, adapter")
        // FAVICONS info
        link(rel="icon", href="./favicon.png", type="image/png", sizes="18x18")
        // Outside styling and links info
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap", rel="stylesheet")        
        link(rel="stylesheet", type="text/css", href="./style.css")

        link(rel="stylesheet", type="text/css", href="./login.css")

    body
        nav.nav
            ul
                li
                    a(href="/") 
                        i.fas.fa-home 
                        | Home
                li
                    a(href="./login")
                        i.fas.fa-user
                        | Login
                li.loginDepended
                    a(href="./stocks")
                        i.fas.fa-search-dollar
                        | Stocks
                li.loginDepended
                    a(href="./stocks")
                        i.fas.fa-coins
                        | Portfolio
                li
                    a.active(href="./about")
                        i.far.fa-copyright
                        | About
                li.wrench.loginDepended
                  i.fas.fa-wrench
                  ul.colorSettingsList
                    li.settings
                      input(type="color", id="inputColor")
        block content
         header
          main.loginBox
                h1.creatorsLabel Creators:
                h3
                    a(href="https://github.com/MMadejsza", target="_blank") MMadejsza
                h3
                    a(href="https://github.com/AdamT-S", target="_blank") AdamT-S
                h3
                    a(href="https://github.com/Raja108N", target="_blank") Raja108N
                h3
                    a(href="https://github.com/unaisq1", target="_blank") unaisq1

                        
        script(src="https://kit.fontawesome.com/4622d99ad4.js", crossorigin="anonymous")
        script(src="./app.js")

