extends index.pug

block headerLinks
  link(rel="stylesheet", href="./login.css")

block content
  main.loginBox
    form.loginForm(action="", method="post")
      h1 Log in!
      label(for="login")
      input.login(type="text", placeholder="User Name")
      input.password(type="text", placeholder="Password")
    div.registerQuestionBlock
      input(type="checkbox", name="registerInput", id="registerInput")
      label(for="registerInput") Register?
    form.registerForm(action="", method="post")
      h1 Register now!
      label(for="login")
      input.login(type="text", placeholder="User Name")
      input.password(type="text", placeholder="Password")
    button.loginBtn Submit

block extraScripts
  script(src="./login.js")
