.contentBox {
	/* grid-template-columns: minmax(400px, 800px) minmax(400px, 800px); */
	grid-template-columns: repeat(auto-fill, minmax(560px, 600px));
	grid-template-rows: auto;
	grid-auto-rows: minmax(225px, auto);
	align-content: center;
}

.addCompanyBox div {
	padding-top: 2rem;
	font-size: 2.5rem;
}
h2 + div i {
	margin-right: 1rem;
}

.fa-coins {
	color: var(--defaultColor);
}

table {
	width: 100%;
	line-height: 3.5rem;
	text-align: center;
	color: whitesmoke;
	background-color: rgba(0, 0, 0, 25%);
	border-radius: var(--bRadius);
}

tr,
td {
	width: 25%;
}

th {
	color: var(--defaultColor);
}

th:last-child,
td:last-child {
	padding-right: 5rem;
	text-align: right;
}
