body,
header {
	min-height: 100vh;
}
nav {
	position: sticky;
}

header > * {
	min-height: 100vh;
	position: static;
	padding-top: 5vh;
}
.contentBox {
	width: 90%;
	min-height: 85vh;
	margin: 0 auto 0;
	padding: 4vh;
	padding-top: 10vh;
	border-radius: var(--bRadius);
	box-shadow: var(--activeBoxShadow);
	background-color: var(--itemBcg);
	display: grid;
	justify-content: space-evenly;
	align-content: space-evenly;
	place-items: center;
	gap: 2.5rem;
	/* grid-template-columns: minmax(400px, 800px) minmax(400px, 800px); */
	grid-template-columns: repeat(auto-fill, minmax(560px, 600px));
	grid-template-rows: 14rem;
	grid-auto-rows: minmax(225px, 1fr);
}
.addCompanyBox {
	height: 100%;
	font-size: 3rem;
	color: white;
	grid-row: 1;
	grid-column-start: 1;
	grid-column-end: -1;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.graphBox {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	font-size: 3rem;
	text-align: center;
	color: white;
	border-radius: var(--bRadius);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.graphButtons {
	min-height: 40%;
	position: absolute;
	top: 0;
	right: 1rem;
	margin: 2rem 1.5rem;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.graphButtons div {
	width: 3.5rem;
	line-height: 3.5rem;
	text-align: center;
	color: var(--defaultColor);
	z-index: 2;
	transition: 0.3s ease-in-out;
	border: none;
}

.ticked .far {
	font-weight: 900;
}

.graphButtons div:hover {
	cursor: pointer;
	text-shadow: 0 0 7px var(--defaultColor), 0 0 10px var(--defaultColor), 0 0 21px #fff,
		0 0 42px var(--defaultColor), 0 0 82px var(--defaultColor), 0 0 92px var(--defaultColor),
		0 0 102px var(--defaultColor), 0 0 151px var(--defaultColor);
}
.graph {
	width: 95%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: black;
	opacity: 0.8;
	border-radius: var(--bRadius);
}
.graph-label {
	width: 95%;
	height: 6rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

header input {
	min-width: 25%;
	min-height: 2.5rem;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	padding: 0 1.5rem;
	font-family: inherit;
	text-align: center;
	border-radius: var(--bRadius);
}
.graphBox input:hover {
	cursor: pointer;
}
header input:focus {
	outline: none;
	box-shadow: var(--defaultColor) 0px 5px 15px;
}

.graphBox h2 {
	font-size: 2rem;
}

canvas.myChart {
	color: var(--defaultColor);
	border-color: var(--defaultColor);
	border-radius: var(--bRadius);
}
