body,
header {
	min-height: 100vh;
}
nav {
	position: sticky;
}

header > * {
	min-height: 100vh;
	position: static;
	padding-top: 5vh;
}
.contentBox {
	width: 90%;
	min-height: 85vh;
	margin: 0 auto 0;
	padding: 4vh;
	padding-top: 10vh;
	border-radius: var(--bRadius);
	box-shadow: var(--activeBoxShadow);
	background-color: var(--itemBcg);
	display: grid;
	justify-content: space-evenly;
	align-content: space-evenly;
	place-items: center;
	gap: 2.5rem;
	/* grid-template-columns: minmax(400px, 800px) minmax(400px, 800px); */
	grid-template-columns: repeat(auto-fill, minmax(560px, 600px));
	grid-template-rows: 14rem 14rem;
	grid-auto-rows: minmax(225px, 1fr);
}
.addCompanyBox,
.walletDisplay {
	/* height: 14rem; */
	font-size: 3rem;
	color: white;
	grid-row: 1;
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row: 2 /3;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.walletDisplay {
	grid-row: 1 /2;
}
.graphBox {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	font-size: 3rem;
	text-align: center;
	color: white;
	border-radius: var(--bRadius);

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.graph-label {
	width: 95%;
	height: 6rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.graph {
	width: 95%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	background-color: black;
	opacity: 0.8;
	border-radius: var(--bRadius);
}

.graph canvas.myChart {
	width: 85% !important;
}
.compareWithInput {
	/* flex-basis: 100%; */
}

.graphButtons {
	min-height: 40%;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.graphButtons div {
	width: 3.5rem;
	margin: 0.75rem 0;
	line-height: 3.5rem;
	text-align: center;
	color: var(--defaultColor);
	z-index: 2;
	transition: 0.3s ease-in-out;
	border: none;
	opacity: 0.9;
}

.buyBtnInput,
.sellBtnInput {
	position: absolute;
	width: 75px;
	top: -0.3rem;
	left: 0;
	padding: 0 0.5rem;
	opacity: 0;
	z-index: -3;
	transition: 0.3s;
}

.buyBtn:hover .buyBtnInput,
.sellBtn:hover .sellBtnInput {
	left: calc(100% + 1rem);
	opacity: 1;
	z-index: 1;
}

.ticked .far {
	font-weight: 900;
}

.graphButtons div:hover {
	cursor: pointer;
	text-shadow: 0 0 7px var(--defaultColor), 0 0 10px var(--defaultColor), 0 0 21px #fff,
		0 0 42px var(--defaultColor), 0 0 82px var(--defaultColor), 0 0 92px var(--defaultColor),
		0 0 102px var(--defaultColor), 0 0 151px var(--defaultColor);
}

header input {
	min-width: 25%;
	min-height: 2.5rem;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	padding: 0 1.5rem;
	font-family: inherit;
	text-align: center;
	border-radius: var(--bRadius);
}
.graph-label input:hover {
	cursor: pointer;
}
header input:focus {
	outline: none;
	box-shadow: var(--defaultColor) 0px 5px 15px;
}

.graphBox h2 {
	font-size: 2rem;
}
