.contentBox {
	/* grid-template-columns: minmax(400px, 800px) minmax(400px, 800px); */
	grid-template-columns: repeat(auto-fill, minmax(560px, 600px));
	grid-template-rows: auto;
	grid-auto-rows: minmax(225px, 1fr);
}
